body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #999999;
  color: #d7b056;
}

.App {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.movie-list ul {
  list-style: none;
  padding: 0;
}

.movie-list li {
  padding: 10px;
  margin: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.add-movie-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  max-width: 300px;
}

.add-movie-form input,
.add-movie-form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-movie-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-movie-form button:hover {
  background-color: #0056b3;
}

.movie-list table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.movie-list th,
.movie-list td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.movie-list th {
  background-color: #007bff;
  color: white;
}

.movie-list tr:nth-child(even) {
  background-color: #f2f2f2;
}
